html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-size: 1.6rem;
    font-family: Noto Sans TC, Sans-Serif ;
    background-color: rgb(32,33,36);
    color: white;
    position: relative;
    overflow-x: hidden;
    height: 90vh;
}

* {
    margin: 0;
    padding: 0;
}

footer {
    box-sizing: border-box;

    padding-left: 4rem;
    margin-right: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.left-corner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-separater {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0 !important;
}

.controller {
    display: flex;
    justify-content: center;
    align-items: center;

}

.choose-icon {
    position: absolute;
    transform: translateY(7%);
    background: none;
    color: #aaa;
    border: none;
    margin-left: 1rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all 0.3s;
}

.mic-icon-wrapper {
    width: 7rem;
    margin-right: 1rem
}

.mic-icon {
    width: 7rem;
    height: 4.8rem;
    display: flex;
    align-items: center;
    background: #aaaaaa4c;
    color: #fff;
    border: none;
    border-radius: 4rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    margin-right: 1rem;
}

.mic-icon:hover {
    transform: translateY(-0.3rem);
}

.mic-icon > i {
    position: absolute;
    right: 1.9rem;
}

.mic-icon.mic-mute {
    background: red;
}

.mic-icon.mic-mute > .choose-mic {
    color: white;
}

.video-icon {
    width: 7rem;
    height: 4.8rem;
    display: flex;
    align-items: center;
    background: #aaaaaa4c;
    color: #fff;
    border: none;
    border-radius: 4rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    margin-right: 1rem;
}

.video-icon:hover {
    transform: translateY(-0.3rem);
}

.video-icon > i {
    position: absolute;
    right: 1.4rem;
}

.video-icon.video-muted {
    background: red;
}

.video-icon.video-muted > .choose-video {
    color: white
}

.share-screen {
    width: 4.8rem;
    height: 4.8rem;
    background-color: #aaaaaa4c;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    margin-right: 1rem;
    transition: all 0.3s;
}

.share-screen > img {
    width: 70%;
}

.share-screen:hover {
    transform: translateY(-0.3rem);
}



.hangout {
    width: 4.8rem;
    height: 4.8rem;
    background-color: red;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    margin-right: 1rem;
    color: white;
    transition: all 0.3s;
    font-size: 2rem;
}

.hangout:hover {
    transform: translateY(-0.3rem);
}

.features {
    display: flex;
    margin-right: 2rem;
    align-items: center;
}

.participants, .chat, .activities {
    width: 4.8rem;
    height: 4.8rem;
    background: transparent;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    margin-right: 1rem;
    transition: all 0.3s;
    color: white;
    font-size: 3rem;
}

.participants:hover, .chat:hover, .activities:hover {
    transform: translateY(-0.3rem);
}

.mic-list > li {
    list-style: none;
}

.local-stream {
    width: 52rem; /* 設定寬度 */
    height: 39rem; /* 設定高度 */
    /* object-fit: cover; 設定適應模式，防止變形 */
}

.video-stream {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 2rem 2rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
}



canvas {
    width: 52rem; /* 設定寬度 */
    height: 39rem; /* 設定高度 */
    /* object-fit: cover; 設定適應模式，防止變形 */
    transform: none;
}


.invert-screen {
    transform: scaleX(-1);
}

body.panel-open .video-stream {
    transform: translateX(-10rem);
}



/* panels */

.activities-header, .users-header, .chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #3c4043;
}

.activities-header h2, .users-header h2, .chat-header h2 {
    margin: 0;
    font-size: 1.8rem;
}


.activities-content, .users-content {
    padding: 1rem;
}
/*  */


.video-stream {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 12rem);
    overflow: hidden;
    position: relative; /* 使其可以相對移動 */
}

.video-stream.many-participants {
    flex-direction: column;
}

.small-videos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.video-stream.many-participants .small-videos-container {
    max-height: 30vh;
}

.video-stream canvas:not(#whiteboard-canvas) {
    flex: 1 1 auto;
    width: 100%;
    height: auto;
    max-width: 48%;
    min-height: 200px; /* 限制最小高度 */
    max-height: 600px; /* 限制最大高度 */
    object-fit: cover;
    border-radius: 0.5rem;
    transition: all 0.3s ease; /* 增加過渡效果 */
}

.video-stream > .video-wrapper {
    flex: 1 1 auto;
    width: 100%;
    height: auto;
    max-width: 48%;
    min-height: 200px; /* 限制最小高度 */
    max-height: 600px; /* 限制最大高度 */; /* 限制最大高度 */
    object-fit: cover;
    border-radius: 0.5rem;
    transition: all 0.3s ease; /* 增加過渡效果 */
    display: flex;
    position: relative;
}

.video-wrapper > video {
    width: 100%;
    border-radius: 0.5rem;
}

/* 畫面左移時變小 video */
body.panel-open .video-stream .video-wrapper, body.panel-open .video-stream canvas:not(#whiteboard-canvas) {
    max-width: calc(48% - 200px); /* 動態調整寬度，確保縮放過程中不突變 */
    min-height: 200px;
    max-height: 600px;
    transition: all 0.3s ease; /* 平滑過渡效果 */
}

/* 當有更多參與者時，縮小每個 video 的大小 */
.video-stream.many-participants .video-wrapper, .video-stream.many-participants canvas:not(#whiteboard-canvas) {
    flex: 1 1 auto;
    max-width: 30%;
    height: auto;
    min-height: 150px; /* 當參與者多時縮小 video 的高度 */
    max-height: 300px; /* 限制最大高度 */
}

.video-stream .main-video {
    flex: 2 2 auto;
    width: 100%;
    height: auto;
    max-height: 60vh;
    object-fit: cover;
    margin-bottom: 2rem;
    position: relative;
}

.video-stream.small-layout .video-wrapper, .video-stream.small-layout canvas:not(#whiteboard-canvas) {
    max-width: 33%; /* 或根據需要調整 */
    height: auto;
    object-fit: cover;
    min-height: 150px;
    max-height: 300px;
}

.video-wrapper > video {
    width: 100%;
    object-fit: cover;
}
/*  */


.video-stream.too-many-participants {
    display: grid;
    grid-template-rows: auto 1fr; /* 第一行自動高度，第二行主視訊 */
    grid-template-columns: 1fr auto 1fr; /* 三欄設計，兩邊留白 */
    grid-gap: 10px; /* 行間距，可以根據需要調整 */
    height: 100%; /* 滿屏高度 */
    width: 100%; /* 滿屏寬度 */
}

.small-videos-container {
    grid-row: 1 / 2; /* 第一行 */
    grid-column: 2 / 3; /* 中間列 */
    display: flex;
    overflow-x: auto; /* 橫向滾動 */
    max-width: 100%; /* 讓容器不超出視口 */
    white-space: nowrap; /* 防止子元素換行 */
}

.main-video-container {
    grid-row: 2 / 3; /* 第二行 */
    grid-column: 2 / 3; /* 中間列 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-video {
    max-width: 200px;
    height: auto;
    margin-right: 10px; /* 視訊間距 */
}

.main-video {
    width: 100%;
    height: auto;
}

.video-wrapper .maximize-button {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background-color: transparent;
    color: black;
    padding: 5px;
    cursor: pointer;
    z-index: 99;
}

.local-stream::after {
    content: "⤢";
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    pointer-events: all;
}

.small-videos-container > .video-wrapper {
    min-height: 200px
}

.small-videos-container > .video-wrapper > video {
    min-height: 200px
}

.main-video > .screen-share {
    max-width: 1200px;
    height: auto
}

.small-videos-container > .small-video {
    position: relative;
}

.local-stream.main-video {
    min-width: 600px
}

body.panel-open .small-layout .video-wrapper, body.panel-open .video-stream canvas:not(#whiteboard-canvas) {
    max-width: calc(30% - 200px); /* 動態調整寬度，確保縮放過程中不突變 */
    min-height: 200px;
    max-height: 600px;
    transition: all 0.3s ease; /* 平滑過渡效果 */
}

/*  */

.meet-id {
    margin-bottom: 0 !important;
}

.waiting-approval {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 24px;
    z-index: 1000;
}


.hidden {
    display: none;
}

.video-canvas {
    display: block;
}

.hidden-video {
    display: none;
}