.change-background-panel {
    position: fixed;
    top: 0;
    right: 0;
    /* right: -40rem; */
    width: 30rem;
    height: 95vh;
    background-color: #202124;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    border: .1rem solid white
}

.change-background-panel.show {
    right: 0;
}

.no-bg-container {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0 2rem 0
}

.none-blur, .blur {
    width: 6rem;
    cursor: pointer;
    
}

.none-blur > img, .blur > img {
    width: 100%;
    color: white
}

.bg-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.bg-img {
    width: 14rem; 
    cursor: pointer;
    margin: .5rem
}

.bg-img > img {
    width: 100%
}