body {
    margin: 0;
    padding: 0
}

/* whiteboard */
.whiteboard-panel {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100%;
    background-color: white;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
}

.whiteboard-panel.show {
    right: 0;
}

.close-whiteboard {
    position: absolute;
    right: 2rem;
    background: none;
    cursor: pointer;
    color: white;
    font-size: 2rem;
}

.whiteboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
}

.whiteboard-content {
    padding: 10px;
}

#whiteboard-canvas {
    border: 1px solid #ccc;
    width: 100%;
}

.whiteboard-controls {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.whiteboard-content {
    width: 120rem
}

.menu-container {
    position: absolute;
    top:0;
    width: 350px;
    left: calc(50% - 175px);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #EEEEEE;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-button {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: none;
    transition: .3s;
    background: #FFF1DC;
}

.menu-button:hover {
    background: #E8D5C4;
}

.menu-button-active {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: none;
    transition: .3s;
    background: #E8D5C4;
}